

<!--Ejemplo de clase-->
<form action="/products/newcreate/" method="POST" enctype="multipart/form-data">
    <div class="row product-detail">
        <div class="col-12 col-md-6">
            <label for="name" class="form-label">Nombre del producto:</label>
            <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input">
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="buy-now-button">Guardar producto</button>
    </div>
</form>
<h3> Formulario nuevo</h3>
<form action="/products/newCreate/" method='POST'>
    <label for="name" class="form-label">Nombre del producto:</label>
    <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input">
    <button type="submit" class="buy-now-button">Guardar producto</button>  
</form>
