<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Detalles de producto'}) %>

<body>
    <!-- Include Header -->
    
<%- include('../partials/header') %>

    <main>
        <!--Espacio header -->
        <div class="gap"></div>

        <div class="product-detail-container">
            <p class="product-detail-title"> Detalles del producto </p>
            <div class="product-detail-card">
                <div id="image-wrap">
                    <img href="/" src="/img/category-dog.png" alt="the pet's club-dog" class="image">
                </div>
                <div id="pd-information"><!--Inicia caracteristicas-->
                    <div class="title-wrap">
                        <strong class="title">Titulo del producto</strong>
                        <p class="featured-product"><i class="fas fa-solid fa-circle featured-product-icon"></i> Producto destacado</p>
                    </div>
                    <div class="price-wrap"><p class="text1">Precio regular:</p><strong class="price">$999</strong></div>
                    <div class="price-wrap"><p class="text1">Precio regular:</p><strong class="price crossed-out">$999</strong></div>
                    <div class="price-wrap"><p class="text1">Adquierelo por tan solo: </p><strong class="price-offer"><i class="fa-sharp fa-solid fa-bolt-lightning"></i> $999</strong></div>
                    <div class="tags-wrap">
                        <p class="wrap-subtitle text2">Recomendado para:</p>
                        <p class="species"><i class="fas fa-solid fa-dog"></i> perros </p>
                        <p class="species"><i class="fas fa-solid fa-cat"></i> gatos </p>
                        <p class="species"><i class="fas fa-solid fa-crow"></i> aves </p>
                        <p class="species"><i class="fas fa-fish-fins"></i> peces </p>
                        <p class="species"><i class="fas fa-solid fa-rabbit"></i> mamiferos </p>
                        <p class="species"><i class="fa-sharp fa-solid fa-snake"></i> reptiles </p>
                    </div>
                    <div class="tags-wrap">
                        <p class="category-tag"> Alimento </p>
                        <p class="category-tag"> Juguetes </p>
                        <p class="category-tag"> Habitat </p>
                        <p class="category-tag"> Ropa </p>
                        <p class="category-tag"> Accesorios </p>
                        <p class="category-tag"> Otro </p>
                    </div>
                    
                    <div class="set-buttons-wrap"> <!--para el usuario-->
                        <p class="button"><a class="button-text" href="/">Agregar al carrito</a></p>
                        <p class="button"><a class="button-text" href="/">Comprar</a></p>
                    </div>
                    <div class="set-buttons-wrap"> <!--para admin-->
                        <p class="button"><a class="button-text" href="/">Editar</a></p>
                        <p class="button"><a class="button-text" href="/">Nuevo</a></p>
                    </div>
                </div><!--termina Caracteristicas-->
                <div id="description"><!--inicia description-->
                    <p class="title">Descripción:</p>
                    <p class="text">------------------------------------------------------------------------------------
                        -----------------------------------------------------------------------------------
                        ------------------------------------------------------------------------------------
                        -----------------------------------------------------------------------------------
                        ------------------------------------------------------------------------------------
                    </p>
                </div><!--termina description-->
            </div><!--termina product-detail-card-->
        </div><!--termina product-detail-container-->

    </main>
    <!-- Include Footer-->
    <%- include('../partials/footer') %>
</body>

</html>