<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Detalles de producto'}) %>

<body>
    <!-- Include Header y banner -->

    <main>
        <div class="gap"> <p>--- Espacio de header --- </p></div>
        <div class="product-detail-container">
            <p class="product-detail-title"> Detalles del producto </p>
            <div class="product-detail-card">
                <div class="pd-image-wrap">
                    <img href="/" src="/img/category-dog.png" alt="the pet's club-dog" class="pd-image">
                </div>
                <div id="pd-information">
                    <strong class="title">Titulo del producto</strong>
                    <div class="price-wrap"><p class="text">Precio regular:</p><strong class="price">$999</strong></div>
                    <div class="price-wrap"><p class="text">Adquierelo por tan solo: </p><strong class="price-offer">$999</strong></div>
                    <p class="text">Este producto es adecuado para </p><p class="species">perros, gatos</p>

                    <div class="pd-buttons-wrap">
                        <div class="pd-user-buttons">
                            <a class="button-add-to-cart" href="/">agregar al carrito</a>
                            <a class="button-buy" href="/">agregar al carrito</a>
                        </div>
                        <div class="pd-admin-buttons">
                            <a class="edit-product" href="/">Editar</a>
                            <a class="new-product" href="/">Nuevo</a>
                        </div>
                    </div>
                </div>
                </div> Descripcion larga
                <p>Descripción:</p>
                        <p>------------------------------------------------------------------------------------
                                -----------------------------------------------------------------------------------
                                ------------------------------------------------------------------------------------
                                -----------------------------------------------------------------------------------
                                ------------------------------------------------------------------------------------
                        </p>
                <div>

            </div>
        </div>

    </main>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
</body>

</html>