<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <div> <!-- FORMULARIO CREAR PRODUCTO -->
            <div class="form-title-container"><h3>Crear producto</h3></div>
            <form action="/" method="GET" class="form-container">

                <p class="form-field">
                <input type="text" name="name" id="name" placeholder="Nombre del producto" required class="form-input">
                </p>

                <p class="form-field">
                <input type="text" name="id" id="id" placeholder="SKU" required class="form-input">
                </p>
        
                <p class="form-field">
                <label>Descripción</label>
                <textarea name="description" placeholder="Indica las características del prodcuto como color, peso, sabor, contenido, talla, etc. " required class="form-input-text-area"></textarea>
                </p>
        
                <p class="form-field">
                <label for="name">Imagen</label>
                <input type="file" name="main-product-image" id="main-product-image" accept=".jpg" required class="form-input">
                </p>

                <div class="form-2-columns-container">
                    <p class="form-field  col-50">
                    <input type="number" name="price" id="price" placeholder="Precio" min="0"required class="form-input">
                    </p>

                    <p class="form-field col-50">
                    <input type="number" name="price-offer" id="price-offer" placeholder="Precio de oferta" min="0" required class="form-input">
                    </p>
                </div>

                <div class="form-2-columns-container">
                    <p class="form-field col-50">
                        <label><strong>Especie</label></strong></label>
                            <input type="checkbox" value="perro" id="perro"class="form-input-option"> Perro </input><br>
                            <input type="checkbox" value="gato" id="gato" class="form-input-option"> Gato </input><br>
                            <input type="checkbox" value="ave" id="ave" class="form-input-option"> Ave </input><br>
                            <input type="checkbox" value="peces" id="peces" class="form-input-option"> Peces </input><br>
                            <input type="checkbox" value="mamiferos" id="mamiferos" class="form-input-option"> Mamiferos </input><br>
                            <input type="checkbox" value="reptiles" id="reptiles" class="form-input-option"> Reptiles </input><br>
                    </p>

                    <p class="form-field col-50">
                        <label><strong>Categorías</label></strong></label>
                            <input type="checkbox" value="alimento" id="alimento"class="form-input-option"> Alimento </input><br>
                            <input type="checkbox" value="juguetes" id="juguetes" class="form-input-option"> Juguetes </input><br>
                            <input type="checkbox" value="habitat" id="habitat" class="form-input-option"> Habitat </input><br>
                            <input type="checkbox" value="ropa" id="ropa" class="form-input-option"> Ropa </input><br>
                            <input type="checkbox" value="accesorios" id="accesorios" class="form-input-option"> Accesorios </input><br>
                            <input type="checkbox" value="otro" id="Otro" class="form-input-option"> Otro </input><br>
                    </p>
                </div>
        
                <div class="form-3-columns-container">
                    <p class="form-field col-30">
                        <label><strong>En oferta: </label></strong></label>
                            <input type="radio" name="oferta" value="si" id="si"class="form-input-option"> Sí </input><br>
                            <input type="radio" name="oferta" value="no" id="no" class="form-input-option"> No </input><br>
                    </p>
                    <p class="form-field col-30">
                        <label><strong>Destacado: </label></strong></label>
                            <input type="radio" name="destacado" value="si" id="si"class="form-input-option"> Sí </input><br>
                            <input type="radio" name="destacado" value="no" id="no" class="form-input-option"> No </input><br>
                    </p>
                    <p class="form-field col-30">
                        <label><strong>Piezas </label></strong></label>
                        <input type="number" name="pieces" id="pieces" placeholder="12" min="0" required class="form-input">
                    </p>
                </div>
                

                <!-- Rounded switch -->
                <!-- 
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                -->
                
                <!--boton de formulario -->
                <p class="form-buttons-container">
                <button type="reset" class="form-button">Limpiar formulario</button>
                <a href="/"><button type="submit" class="form-button"> Crear producto </button></a>
                </p>

            </form>
        </div>
        


    </body>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>
