
footer {
    background-color: var(--amarillo);
    color: black;
    padding: 15px;
}

footer ul {
    list-style: none;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
}

footer li {
    padding: 6px;
}

.footer-option {
    text-decoration: none;
    color: black;
    padding: 3px 0px;
    font-size: 15px;
}

.footer-section-title {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}

.container-footer-menu {
    padding: 10px;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
}

.container-RRSS {
    text-align: center;
}

.RRSS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-contact {
    text-align: center;
}

.contact {
    text-align: center;
}

.container-download-app {
    text-align: center;
}

.download-app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-right-reserve {
    padding-top: 10px;
    border-top: solid 1px var(--verde);
    text-align: center;
}

.dog-face {
    position: relative;
    top:-35px;
}