/*---Estilos aplicados a formularios ---
Vistas:
    archivo:products-create.ejs
*/


/* Inicia Validaciones Front-End */
.is-valid{
    border: 2px #198754;
}
.is-invalid{
    background-color: #ffffd9;
    border: 2px solid red;
}
.warning-block{
    background-color: #ffd2c0;
    border-radius: 10px;
    padding: 20px 7px;
    margin: 25px;
}
.warning-title{
    color: red;
    text-align: center; 
}
.errors{
    color:#842029;
    list-style: none;
    text-align: left;
    padding: 5px 25px;
}

.hide{
    display: none;
}
/* Termina Validaciones Front-End */




/* .form-title-container{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
} */

.form-container{
    margin: 10px Auto;
    padding: 30px 7px;
    background-color: var(--sombra);
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.form-2-columns-container{
    display: flex;
}

.col-50{
    width:49%;
    padding-left: 0px;
    font-size: 14px;
    text-align: left;
}

.form-3-columns-container{
    display: flex;
}

.col-30{
    width:30%;
    padding: 0px Auto;
    font-size: 14px;
}

.form-field{ 
    font-size: 14px;
    text-align: center;
    padding: 0px 80px 0px 80px;
}

.form-field label{
    margin-bottom: 5px;
    display: block;
    width:100%;
    font-style: bold;
}

.form-input{
    width: 100%;
    height: 35px;
    font-size: 13px;
    padding-left: 30px;
    border-radius: 7px;
    border-style: None;
}


.form-input-text-area{
    width: 100%;
    height: 75px;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: Auto;
    border-radius: 7px;
    border-style: none;
}

.form-box-color{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

.form-input-option{
    margin: 5px;
    padding-left: 5px;
    width: 20px;
    height: 15px;
    font-size: 14px;
    border-radius: 5px;
    border-style: none;
}

.form-buttons-container{
    text-align: center;
    
}

.form-button {
    background-color: var(--verde);
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    margin: 7px Auto;
    color: white;
    border-radius: 10px;
}



/* Formulario de crear y editar productos */
#products-form{ 
    margin: auto;
}
#products-form .form-field{ 
    font-size: 14px;
    text-align: left;
    padding: 5px 10px;
}
#products-form .form-input{
    width: 100%;
    height: 35px;
    font-size: 13px;
    padding-left: 5px;
    border-radius: 7px;
    border-style: None;
}

/* Formulario login */

.remember_user {
    margin: 5px;
}



/*-------- MOVIL-HORIZONTAL (481)-------*/
@media (min-width: 481px) {
    .form-container{
        width: 80%;
    }
    .form-input-option{
        padding-left: 25px;
    }


}



/*--------BREAKPOINT TABLET (770)-------*/
@media (min-width: 770px) {
    .form-container{
        width: 650px;
        text-align: center;
    }

    /* .form-title-container{
        text-align: center;
        padding-top: 155px;
        padding-bottom: 20px;
    } */

}


/*--------BREAKPOINT PC (1200)-------*/
@media (min-width: 1200px) {
    .form-container{
        width: 500px;
    }
}
