/*---Estilos aplicados a formularios ---
Vistas:
    archivo:products-create.ejs
*/

.form-title-container{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.form-container{
    margin: 10px Auto;
}

.form-2-columns-container{
    display: flex;
}

.col-50{
    width:49%;
    padding-left: 0%;
    font-size: 14px;
}

.form-3-columns-container{
    display: flex;
}

.col-30{
    width:30%;
    padding: 0px Auto;
    font-size: 14px;
}

.form-field{ 
    font-size: 14px;
}

.form-field label{
    margin-bottom: 5px;
    display: block;
    width:100%;
    font-style: bold;
}

.form-input{
    width: 100%;
    height: 35px;
    font-size: 13px;
    padding-left: 10px;
    border-radius: 7px;
    border-style: none;
}

.form-input-text-area{
    width: 100%;
    height: 75px;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: Auto;
    border-radius: 7px;
    border-style: none;
}

.form-box-color{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

.form-input-option{
    margin: 5px;
    width: 20px;
    height: 15px;
    font-size: 14px;
    border-radius: 5px;
    border-style: none;
}

.form-buttons-container{
    text-align: center;
}

.form-button {
    background-color: var(--verde);
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
}

/* SLIDER */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gris);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--verde);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--verde);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*-------- MOVIL-HORIZONTAL (481)-------*/
@media (min-width: 481px) {
    .form-container{
        width: 80%;
    }
}



/*--------BREAKPOINT TABLET (770)-------*/
@media (min-width: 770px) {
    .form-container{
        width: 500px;
    }
}


/*--------BREAKPOINT PC (1200)-------*/
@media (min-width: 1200px) {
    .form-container{
        width: 500px;
    }
}
