header {
    background-color: var(--celeste);
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: -86px;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 18px 10px 20px;
    height: 50px;
    position: relative;
    top: 15px;
    background-color: white;
    z-index:1;
    border-top-left-radius: 10px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 18px 31px -12px rgba(86, 148, 148, 1);
}

.hamburger-menu {
    color: var(--verde);
    text-align: right;
    padding: 2px;
    border-radius: 8%;
    font-size: 20px;
    position: relative;
    left: -20px;
}

.left-navbar {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.right-navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.subheader-li {
    list-style: none;
    text-align: center;
    padding: 5px 5px;
}

.dropdown {
    border-left: solid 1.75px var(--verde);
    margin-left: 30px;
    padding: 5px;
}

.navbar-option {
    text-decoration: none;
    color: var(--verde);
    display: block;
    padding: 5px;
    text-align: left;
    position: relative;
}

.nav-link{
    text-decoration: none;
    color: var(--verde);
    display: block;
    padding: 3px;
    text-align: left;
}

.hamburger-menu input [type="checkbox"], .hamburger-menu .fas-bar, .hamburger-menu fas-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
}

.logo {
    border-radius: 50%;
    width: 20vw;
    position: relative;
    left: 25vw;
    top: -40px;
    box-shadow: 4px 18px 31px -12px rgba(86, 148, 148, 1);
}

.get-in {
    display: none;
    color: var(--verde);
}

.icon-get-in {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 25px;
    padding-right: 15px;
    position: relative;
    top: -15px;
}

.login {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 25px;
    padding-right: 15px;
    position: relative;
    top: -20px;
    right: -10px;
}

.fa-id-card {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 25px;
    padding-right: 15px;
    position: relative;
    top: -4px;
    right: -34px;
}

.carrito {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 20px;
    padding-right: 15px;
    position: relative;
    top: -22px;
    right: -45px;
}

.canasta {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
}

.sample-banner {
    width: 100%;
    position: relative;
    top:85px;
    left: -2px;
    z-index:inherit
}
