header {
    background-color: var(--celeste);
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    padding: 10px 18px 10px 20px;
    height: 50px;
    position: relative;
    background-color: white;

    border-top-left-radius: 10px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 18px 31px -12px rgba(86, 148, 148, 1);
}

.hamburger-bottom {
    color: var(--verde);
    text-align: left;
    padding: 2px;
    border-radius: 8%;
    font-size: 20px;
    position: relative;
    left: 10px;
}

.main-navbar {
    width: 210px;
    position: relative;
    top: -15px;
    left: -25px;
    display: block;
}

ul.navbar {
    background-color: white;
    width: 100%;
    height: 38vh;
    border-radius: 25px;
    padding: 3px 5px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    position: absolute;
    right: 17px;
    top: -10px;
}

.subheader-li {
    list-style: none;
    width: 100%;
    text-align: center;
}

.dropdown {
    border-left: solid 1.75px var(--verde);
    margin-left: 30px;
    padding: 5px;
}

.navbar-option {
    text-decoration: none;
    color: var(--verde);
    display: block;
    padding: 5px;
    text-align: left;
    position: relative;
}

.nav-link{
    text-decoration: none;
    color: var(--verde);
    display: block;
    padding: 3px;
    text-align: left;
}

.logo {
    border-radius: 50%;
    width: 20vw;
    position: absolute;
    left: 40vw;
    top: -20%;
    box-shadow: 4px 18px 31px -12px rgba(86, 148, 148, 1);
}

.right-navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.get-in {
    display: none;
    color: var(--verde);
}

.icon-option {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 20px;
}

.icon-get-in {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 25px;
    padding-right: 15px;
    position: relative;
    top: -15px;
}

.icon-user {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 25px;
    padding-right: 15px;
    position: relative;
    top: -10px;
}

.carrito {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 20px;
    padding-right: 15px;
    position: relative;
    top: -10px;
}

.canasta {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
}

.sample-banner {
    width: 100%;
    background-color: var(--celeste);
}
