.section-tittle {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Noto Sans;
    background-color: white;
    color: #064c3fde;
    border-radius: 60px;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 46px;
    box-shadow: 0px 4px 15px 0px grey;
    margin: 100px 140px 100px 140px

}
/* - - - Categorías - - - */
.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 10px;
    margin: 60px 0px;
}

.category-block {
    width: 40vw;
    text-align: center;
    margin: 15px 0px;
    position: relative;
}

.category-img {
    width: 100%;
    height: 40vw;
    background-color: var(--amarillo);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 12px 2px rgb(0 0 0);
    margin-bottom: 25px;
    
}
.img-general-category {
    width: 100%;
    margin-top: 0px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 6px black);
}
.img-dog-category {
    width: 140%;
    height: 88%;
    margin-top: 30px;
    border-radius: 0px 0px 120px 120px;
    filter: drop-shadow(0px 4px 6px black);
}
.img-cat-category {
    width: 98%;
    height: 104%;
    margin-top: 7px;
    border-radius: 74px 74px 90px 90px;
    filter: drop-shadow(0px 4px 6px black);
}
.img-macaw-birds-category {
    width: 113%;
    height: 85%;
    margin: 33px 0px 0px 22px;
    border-radius: 0px 0px 110px 80px;
    transform: rotate(0.96turn);
    filter: drop-shadow(0px 4px 6px black);
}
.img-fish-category {
    width: 120%;
    height: 94%;
    margin-top: 25px;
    border-radius: 0px 0px 166px 190px;
    filter: drop-shadow(0px 4px 6px black);;
}
.img-rabbit-mammals-category {
    width: 136%;
    height: 100%;
    margin: 14px 0px 2px 50px;
    border-radius: 88px 0px 0px 100px;
    filter: drop-shadow(0px 4px 6px black);
}
.img-chamaleon-reptile-category {
    width: 115%;
    height: 90%;
    margin: 0px 21px 8px 18px;
    border-radius: 86px 83px 68px 82px;
    transform: rotate(0.07turn);
    filter: drop-shadow(0px 4px 6px black);
}


.category-tittle {
    text-decoration: none;
    color: var(--verde);
    font-size: 18px;
    font-weight: bold;

}

/* - - - Ofertas - - - */
a {
    text-decoration:none;
}
.section-article-sale {
  display: block;
  background-color: rgba(6, 76, 63, 0.61);
  box-shadow: inset 0px 0px 33px 14px var(--verde);
  padding: 2px;
  margin: 60px 0px;

}
.article-img-sale {
    width: 80%;
    height: 435px;
    padding: 14px;
    background-color: white;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 26px -4px bl
}
.article-img-sale img {
    margin: 1px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 10px 10px 22px;
}

.box-description-sale {
    border-top: 1px solid #ebebeb;
    padding: 12px 0px 24px 0px;
    position: relative;
}
.description-product-sale {
    font-size: 16px;
    width: 100%;
    margin: 0px;
    padding: 0px 10px 0px 14px;
}

.price-and-discounts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.discounts-product-sale {
    font-size: 16px;
    width: 50%;
    font-family: Noto Sans;
    color: green;
    text-align: center;
    font-weight: bolder;
    border: none;
    padding: none;
    border-bottom: none;
    padding: 14px 10px 0px 64px;
    margin: 6px 0px 0px -14px;
    background-color: transparent;
    border-radius: none;

}
.price-product-sale {
    font-size: 18px;
    width: 50%;
    font-family: Noto Sans;
    color: var(--verde);
    /* text-align: center; */
    font-weight: bolder;
    border-bottom: none;
    padding: 15px 10px;
    color: grey;
}

/* - - - Productos - - - */
.section-article-products {
    display: block;
    padding: 2px;
    margin: 60px 0px;
}
.article-img-product {
    width: 80%;
    height: 435px;
    padding: 14px;
    background-color: white;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -15px black;
}
.article-img-product img {
    margin: 1px;
    width: 100%;
    height: 80%;
    max-width: 100%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 10px 10px 22px;
}
.box-description-product {
    border-top: 1px solid #ebebeb;
    padding: 12px 0px 12px 0px;
    position: relative;
}
.price-of-product {
    text-align: center;
    padding: 9px 2px 0px 0px;
    color: grey;
    border: none;
}
/* - - - Servicios - - - */
.section-article-services {
    display: block;
    background-color: rgba(228, 251, 251, 0.53);
    box-shadow: inset 0px 0px 25px -12px rgba(0, 0, 0, 0.42);
    padding: 2px;
    border-radius: 16px 16px 0px 0px;
    margin: 60px 0px;
}
.description-service {
    font-size: 25px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    border-bottom: none;
    padding: 22px 10px;
    color: var(--amarillo);
    text-align: center;
}
.article-img-services {
    width: 80%;
    height: 435px;
    padding: 14px;
    background-color: white;
    margin: 50px;
    border-radius: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 30px -15px black;
}
.article-img-services img{
    margin: 1px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0pxf;
    border-radius: 80px;
}


/* - - - Nosotros - - - */
.container-about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    margin: 20px 25px;
    background-color: var(--verde);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 60px 0px;
}

.team-img {
    width: 80vw;
    border-radius: 15px;
    ;
}

.about-us {
    width: 85vw;
    color: white;
    text-align: center;
    font-size: 18px;
}

.text-about-us {
    font-family: Novo Sans;
    font-size: 20px;
}

/* - - - Reviews - - - */
.review-section {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-fix-height {
    width: 95vw;
    height: 100vw;
    padding: 25px;
}

.review-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px;
    position: relative;
}

.review-img {
    width: 90vw;
    height: 70vw;
    border-radius: 15px;
    box-shadow: 7px 23px 29px 0px rgb(100, 100, 100);
    margin: 60px 0px;


}

.text-review {
    width: 60%;
    padding: 5%;
    background-color: white;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 6px;
    text-align: center;
    font-size: 15px;

    position: absolute;
    left: 20%;
    bottom: -60px;
}

