
/*-------- MOVIL-HORIZONTAL (481)-------*/
@media (min-width: 481px) {

    .subheader {
        padding: 15px 35px 15px 45px;
        height: 60px;
    }

    .logo {
        position: absolute;
        left: 38vw;
        top: -19px;
    }



    /*--Categorías--*/
    .category-block {
        width: 25vw;
        text-align: center;
    }

    .category-img {
        height: 25vw;
    }

    .review-img {
        width: 85vw;
        height: 50vw;
    }

}




/*--------BREAKPOINT TABLET (770)-------*/
@media (min-width: 770px) {
    
    header {
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        margin-bottom: -150px;
        width: 100%;
    }

    .subheader {
        padding: 20px 25px;
        height: 80px;
    }

    .main-navbar {
        display: flex;
        border: none;
        position: relative;
        top: -15px;
    }

    .subheader-li {
        display: block;
        margin-top: 10px;
    }

    .hamburger-menu {
        display: none;
    }

    .cross {
        display: none; 
    }

    .logo {
        width: 110px;
        position: absolute;
        left: 45%;
        top: -50%;
        box-shadow: 4px 18px 31px -12px rgba(86, 148, 148, 1);
    }

    .left-navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
    }
    .subheader-left {
        display: block;
        display: flex;
        flex-wrap: nowrap;
        background-color: none;
        align-items: center;
        flex-direction: row;
        margin-top: 146px;
        margin-left: -31px;
        width: 40vh;
        padding: 0px;
        justify-content: space-around;
       }

   
    .right-navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: flex-end;
    }

    .dropdown {
        display: none;
    }

    .carrito {
        position: relative;
        top: 2px;
        right: 0;
        padding: 0 5px;
    }

    .login{
        position: relative;
        top: 0;
        right: -7px;
    }

    .cuenta {
        position: relative;
        top: 4px;
        right: -5px;
    }

    .login-desktop {
        position: relative;
        top: -4px;
        right: -4px;
    }

    .icon-get-in {
        display: none;
        margin-right: 10px;
    }

    .subheader-li.get-in {
        display: block;
        font-size: 10px;
        padding: 0px 5px;
    }

    .subheader-li:hover {
        border-radius: 25px;
        padding: 5px 5px;
        margin-right: 20px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .navbar-option {
        text-decoration: none;
        color: var(--verde);
        padding: 3px 0;
        font-size: 14px;
    }

    /* - - Categorías - - */
    .category-block {
        width: 14vw;
        text-align: center;
    }

    .category-img {
        height: 14vw;
    }

    /* - - Nosotros - - */
    .container-about-us {
        justify-content: space-around;
        align-items: center;
    }

    .team-img {
        width: 52vw;
        height: 37vw;
    }

    .about-us {
        width: 37vw;
    }

    /* - - Reviews - - */
    .container-fix-height {
        width: 45vw;
      height: 60vh;
    }

    .review-img {
        width: 46vw;
    height: 30vw;
    background: rgba(255, 255, 255, 0.82);
    box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }

    .text-review {
        width: 37vw;
    font-size: 15px;
    /* left: 5vw; */
    bottom: -23%;
    position: absolute;
    font-family: 'Roboto';
    color: #ABABAB;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.28);
    background: #FFFFFF;
    /* border: 1px solid #ABABAB; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.28);
    }

    .review-section {
        height: 530px;
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    /*footer*/
    .container-sections-footer {
        display: flex;
        justify-content: space-around;
    }

    .container-RRSS {
        width: 30%;
        flex-wrap: nowrap;
    }

    .container-contact {
        width: 40%;
    }

    .container-download-app {
        width: 30%;
    }

    .footer-option {
        font-size: 15px;
    }

    .footer-section-title {
        font-size: 18px;
    }
  footer{
    margin-top: 140px;

 }
}



/*--------BREAKPOINT PC (1200)-------*/
@media (min-width: 1200px) {

    .subheader-left {
        display: block;
        display: flex;
        flex-wrap: nowrap;
        background-color: none;
        align-items: center;
        flex-direction: row;
        margin-top: 147px;

        margin-left: -31px;
        width: 55vh;
        padding: 0px;
        justify-content: space-around;
       }
    
    .subheader ul {
        padding: 0;
    }

    .subheader-li {
        margin-right: 12px;
    }

    .navbar-option {
        font-size: 17px;
    }
    .main-navbar {
        position: relative;
        top: -12px;
        padding: 5px;
    }
    footer {
        margin-top: 140px;
    }
    .text-review{
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.28);
        bottom: -83px;
     font-size: 18px;
     width: 95%;
    }
    .container-fix-height {
        width: 45vw;
        height: 40vh;
    }
    footer {
        margin-top: 120px;
    }
    .review-img{
        height: 28vw;
    }
}


/*-------- Breakpoints MAIN-HOME --------*/

/*-------- Breakpoint-Smaller-smartphones 0-480 --------*/
@media (min-width: 480px) {
    .section-tittle{
        font-size: 16px;
        margin: 20px 95px 20px 95px;
    }
    /* - - - Ofertas - - - */
    .section-article-sale {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(6, 76, 63, 0.61);
        box-shadow: inset 0px 0px 48px 16px var(--verde);
        margin: 50px 0px;
      }
      .article-img-sale {
        width: 23%;
        height: 240px;
        padding: 5px;
        background-color: white;
        margin: 30px;
        border-radius: 10px;
    }
    .price-product-sale {
        font-size: 18px;
        width: 60%;
        padding: 8px 10px;
    }
    .discounts-product-sale {
        font-size: 16px;
        width: 40%;
        padding: 10px 20px;
        margin: 4px 0px 0px -14px
    }
/* - - - Productos - - - */
    .section-article-products {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2px;
        margin: 50px 0px;
    }
    .article-img-product {
        width: 26%;
        height: 275px;
        padding: 5px;
        background-color: white;
        margin: 60px 0px;
        border-radius: 10px;
}
    .article-img-product img {
        margin: 1px;
        width: 100%;
        height: 80%;
        max-width: 100%;
        box-sizing: border-box;
        vertical-align: top;
        padding: 3px 3px 22px;
    }
    .box-description-product {
        border-top: 1px solid #ebebeb;
        padding: 12px 0px 12px 0px;
        position: relative;
    }
    .price-of-product {
    
        text-align: center;
        padding: 0px 2px 0px 0px;
        color: grey;
        border: none;
    }
    /* - - - Servicios - - - */
    .article-img-services {
        width: 80%;
        height: 570px;
        padding: 14px;
        background-color: white;
        margin: 50px;
        border-radius: 10px;
        border-radius: 100px;
    }
    .section-article-services {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 50px 0px;
        padding-bottom: 40px;
    }
    .article-img-services {
        width: 28%;
        height: 185px;
        padding: 5px;
        background-color: white;
        margin: 60px 0px;;
        border-radius: 60px;
    }
    .article-img-services img {
        margin: 1px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        vertical-align: top;
        padding: 0px;
        border-radius: 80px;
    }
    .description-service {
        font-size: 20px;
        width: 100%;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bolder;
        border-bottom: none;
        padding: 35px 10px;
        color: var(--amarillo);
        text-align: center;
    }
}

/*-------- Breakpoint-Tablet & large smartphones 481-768 --------*/
@media (min-width: 768px){

.section-tittle {
    font-size: 16px;
    margin: 30px 380px 30px 380px;
}
/* - - - Ofertas - - - */


.section-article-sale {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(6, 76, 63, 0.61);
    box-shadow: inset 0px 0px 48px 16px var(--verde);
    
  }
  .article-img-sale {
      width: 23%;
      height: 340px;
      padding: 5px;
      background-color: white;
      margin: 50px;
      border-radius: 10px;
  }
  .article-img-sale img {
      margin: 1px;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      vertical-align: top;
      padding: 3px 3px 22px; 
  }
  .box-description-sale {
      border-top: 1px solid #ebebeb;
      padding: 28px 0px 24px 0px;
      position: relative;
  }
  .price-and-discounts {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
  }
  .discounts-product-sale {
      font-size: 16px;
      width: 50%;
      font-family: Noto Sans;
      color: green;
      text-align: center;
      font-weight: bolder;
      border: none;
      padding: none;
      border-bottom: none;
      padding: 6px 10px 0px 64px;
      margin: 6px 0px 0px -14px;
      background-color: transparent;
      border-radius: none;
  
  }
  .price-product-sale {
      font-size: 18px;
      width: 50%;
      font-family: Noto Sans;
      color: var(--verde);
      font-weight: bolder;
      border-bottom: none;
  }
  /* - - - Productos - - - */
  .article-img-product {
    height: 340px;
    
  }
  .article-img-product img {
    padding: 30px 3px 22px;
  }
  /* - - - Servicios - - - */
  .section-article-services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    padding-bottom: 88px;
}
  .article-img-services {
    width: 30%;
    height: 268px;
    padding: 5px;
    background-color: white;
    margin: 60px 0px;
    border-radius: 80px;
}
.article-img-services img {
    border-radius: 80px;
}
.description-service {
    font-size: 24px;
    padding: 60px 10px;
}
}
/*-------- Breakpoint-Laptos, larger tablets, and small desktops 769-1279 --------*/
@media (min-width: 1200px) {
    .section-tittle {
        margin: 90px 550px 90px 550px;
        border-radius: 100px;
        box-shadow: 0px 15px 29px 0px #898989;
    }

 /* - - - Ofertas - - - */
    .article-img-sale {
        height: 425px;
    }
 /* - - - Productos - - - */
    .article-img-product {
        height: 450px;  
    }
    .article-img-product img {
        padding: 35px 10px 24px;
    }
    .price-of-product {
        padding: 9px 2px 0px 0px;
    }
 /* - - - Servicios - - - */
 .section-article-services {
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0px;
    
}
.description-service {
    font-size: 30px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    border-bottom: none;
    padding: 27px 10px;
    color: var(--amarillo);
    text-align: center;
    margin: 80px;
}
.article-img-services {
    
    width: 25%;
    height: 436px;
}
.team-img {
    width: 47vw;
    height: 30vw;
}
}