
.section-tittle-products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Noto Sans;
    background-color: white;
    color: #064c3fde;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 100px 46px 0px 46px;
    box-shadow: 0px 4px 15px 0px grey;
    margin: 100px 100px 100px 100px;

}




/* avance de vero, nuevas clases */
.product-list-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.product-card{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: Auto;
    padding: 10px;
    margin: 20px 8px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -15px black;
}

.product-image-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 250px;
    width: 100%;
    margin-top: 20px;
}

.product-image{
    max-height: 300px;
    max-width: 90%;
}

.product-detail-wrapper{
    margin-top: 15px;
    padding: 10px 15px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-top: solid 0.5px var(--gris);
}

.product-name{
    width: 100%;
    font-size: 14px;
    min-height: 35px;
    color: var(--verde);
    text-align: center;
}

.product-price-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.product-price{
    height: 18px;
    font-size: 16px;
}

.product-price-offer{
    height: 18px;
    font-size: 16px;
    color:brown;
}

/* Clases para las vistas de productos por categoria = especie */

.specie-contaniner{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-block-specie {
    width: 40vw;
    text-align: center;
    margin: 15px 0px;
    position: relative;
}
.category-img-specie {
    width: 100%;
    height: 40vw;
    background-color: var(--amarillo);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 12px 2px rgb(0 0 0);
    margin-bottom: 25px;
    
}
.img-category-specie {
    width: 100%;
    margin-top: 0px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 6px black);
}





/*-------- MOVIL-HORIZONTAL (481)-------*/
@media (min-width: 481px) {
    .product-card{
        width: 45%;
        padding: 8px;
        margin: 20px 8px;
    }
}



/*--------BREAKPOINT TABLET (770)-------*/
@media (min-width: 770px) {
    .product-card{
        width: 29%;
        padding: 8px;
        margin: 20px 10px;
    }
    .category-block-specie {
        width: 20vw;
    }
    .category-img-specie {
        height: 20vw;
    }
}


/*--------BREAKPOINT PC (1200)-------*/
@media (min-width: 1200px) {
    .product-card{
        width: 22%;
        padding: 8px;
        margin: 20px 10px;
    }
    .category-block-specie {
        width: 15vw;
    }
    .category-img-specie {
        height: 15vw;
    }
}
