.gap{
    height: 100px;
}

.page-title{
    width: 100%;
    color: var(--verde);
    text-align: center;
}

.product-detail-container{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-detail-tittle{
    font-size: 18px;
    color: var(--verde);
}
.product-detail-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 30px -15px black;
    border-radius: 15px;
}
#image-wrap{
    position: relative;
    display:flex;
    width: 100%;
    justify-content: center;
}

#image-wrap .image{
    border-radius: 10px;
    max-height: 300px;
    max-width: 90%;
    padding: auto;
    margin: 20px;
}
.featured-product{
    position: absolute;
    left: 2px;
    top:2px;
    display:flex;
    width:90px;
    font-size: 10px;
    font-weight: 600;
    background-color: var(--amarillo);
    color: var(--verde);
    border-radius: 8px;
    align-items: center;
    margin: 8px;
}
.featured-product-icon{
    font-size: 15px;
    margin-right: 5px;
    color: var(--verde);
}


/* Caracteristicas*/
#pd-information{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: var(--verde);
    background-color: #f7fafd;
    border-radius: 7px;
}
#pd-information .title-wrap{
    width: 100%;
    height: auto;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px var(--verde);

    margin-bottom: 10px;
}
#pd-information .title{
    text-align: left;
    font-size: 18px;
    font-weight: 900;
}


#pd-information .price-wrap{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#pd-information .text1{
    font-size: 14px;
    font-weight: 600;
    padding: 0px;
}
#pd-information .text2{
    font-size: 14px;
    font-weight: 600;
}
#pd-information .price{
    color: var(--verde);
    font-size: 20px;
    font-weight: 700;  
}
#pd-information .offer{
    font-weight: 900;
    color: maroon;
    font-size: 25px;
}
#pd-information .crossed-out{
    text-decoration: line-through;
}
#pd-information .tags-wrap{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--verde);
}
#pd-information .wrap-subtitle{
    text-align: left;
}
#pd-information .species{
    color: var(--verde);
    font-size: 14px;
    font-weight: 600;
    padding: 0px;
}
#pd-information .category-tag{
    color: var(--verde);
    font-size: 13px;
    font-weight: 600;
    background-color: var(--celeste);
    border: solid 1px var(--sombra);
    border-radius: 5px;
    margin: 7px;
}
#pd-information .set-buttons-wrap{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px;
}
#pd-information .button{
    width: 52%;
    background-color: var(--gris);
    border: solid 1px gray;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
    text-align: center;
}
#pd-information .button-text{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800px;
    color: var(--verde);
}
#pd-information .button-delete{
    background-color: var(--gris);
    border: none;
}


/* description */
#description{
    width: 100%;
    padding-top: 10px;
    border-top: solid 1px var(--gris);
}
#description .title{
    text-align: left;
    font-size: 17px;
    font-weight: 900;
    color: var(--verde);
}
#description .text{
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: var(--verde);
}







/*-------- MOVIL-HORIZONTAL (481)-------*/
@media (min-width: 481px) {
    .gap{
        height: 130px;
    }
    #pd-information .button{
        width: 45%;
    }
    
    #pd-information{
        padding: 10px 10%;
    }
}



/*--------BREAKPOINT TABLET (600)-------*/
@media (min-width: 600px) {
    .product-detail-card{
        flex-direction: row;
        align-items: center;
    }
    #image-wrap{
        width: 55%;
    }
    #image-wrap .image{
        height: 350px;
    }

    #pd-information{
        width: 43%;
        padding: 10px;
        border-left: solid 1px var(--gris);
    }
    #pd-information .button{
        width: 75%;
    }

}

/*--------BREAKPOINT PC (1200)-------*/
@media (min-width: 1200px) {
    .gap{
        height: 170px;
    }
    #pd-information .button{
        width: 40%;
    }
    .button.button-text{
        text-align: center;
    }
}
