/* El formulario de registro y de login utilizan muchas clases de forms.css */
/* las clases register- tambien se utilizan en login */

/* Formulario login */
.login-container{
    margin: 35px 15px;
    padding: 40px 7px;
    background-color: var(--sombra);
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.link-register{
    text-align: center;
}
.error-message{
    color: var(--amarillo);
    font-size: 15;
    font-weight: 700;
}



/* Formulario de registro */

.tittleRegister {
    color: #064c3fd1;
}
/* Validaciones front js */
.invalid {
    border: solid 1px red;
    box-shadow: 0px 0px 17px #ce091bba;
  }
  .error {
    margin-left: 3%;
    color: #850813;
    display: block;
    font-weight: bolder;
    font-size: 12px;
    text-align: left;
}

.register-container{
    margin: 180px 15px 20px 15px;
    padding: 30px 7px;
    /* background-color: var(--sombra); */
   /*  border-radius: 15px; */
    color: white;
    text-align: center;
    font-size: 14px;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
}
.register-link{
    color: var(--verde);
}
.sing-up-form-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.register-form-field{
    font-size: 14px;
    width: 100%; /*100% solo aplica en celular*/
}
.register-button-container{
    width:100%;
    padding: 0px Auto;
}

.form-label-avatar {
    /* display: block;
    width: 30%;
    height: 35px;
    font-size: 13px;

    border-radius: 7px;
    border-style: None;
    text-align: left; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-administrator-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.label-user {
    margin:10px;
    font-size: 16px;
}
.label-user input{
    margin:10px;
}

.label-administrator {
    margin:10px;
    font-size: 16px;
}
.label-administrator input{
    margin:10px;
}

.form-input-register {
    margin: 4%;
    width: 100%;
    height: 35px;
    font-size: 13px;
    padding: 22px 0px 22px 25px;
    border-radius: 7px;
    border-style: None;
}
.form-input-register:invalid {
    border: 1px solid red;
}


/*-------- MOVIL-HORIZONTAL (481)-------*/
@media (min-width: 481px) {
    .login-container{
        margin: 35px 15%;
    }
    .register-container{
        margin: 200px 15% 20px 15%;
        font-size: 16px;
    }
    
    
    
}



/*--------BREAKPOINT TABLET (770)-------*/
@media (min-width: 770px) {
    .login-container{
        margin: 35px 20%;
    }

    .register-container{
        margin: 200px 20% 20px 20%;
        padding: 30px Auto;
    }
    .register-form-field{
        width: 45%;
    }
    
}



/*--------BREAKPOINT PC (1200)-------*/
@media (min-width: 1200px) {
    .login-container{
        margin: 35px 25%;
    }

    .register-container{
        margin: 220px 20% 20px 20%;
    }
}
