@import url(normalize.css);

:root{
    --gris: #DDE4E4;
    --amarillo: #FFB100;
    --verde: #064C3F;
    --celeste: #CADEDE;
    --sombra: #569494;
}

*{
    box-sizing: border-box;
    margin: 0 px ;
    padding: 0 px ;
}



/*HEADER*/
header{
    background-color: var(--celeste);
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.subheader{
    display: flex;
    justify-content: space-between;
    padding: 10px 18px 10px 20px;
    height: 50px;
    position: relative;
    background-color: white;

    border-top-left-radius: 10px ;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 18px 31px -12px rgba(86,148,148,1);
}
.hamburguer-bottom{
    color: var(--verde);
    text-align: left;
    padding: 2px;
    border-radius: 8%;
    font-size: 20px ;
    
}
.main-navbar{
    display: none;
    width: 40%;
}
.navbar{
    width: 100%;
    display: none;
}
.logo{
    border-radius: 50%;
    width: 17vw;

    position: absolute;
    left: 43vw;
    top:-10%;
    box-shadow: 4px 18px 31px -12px rgba(86,148,148,1);
}
.right-navbar{
    display: flex;
    justify-content: flex-end;
}


.subheader ul{
    list-style: none;
    flex-direction: row;
    align-items: center;
    padding: 0;

}
.subheader-li{
    border-radius: 25px;
    padding: 5px 3px;
    margin-right: 12px;
    box-shadow: 0px 0px 10px rgb(100,100,100 );
}
.navbar-option{
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 12px;
}
.get-in{
    display: none;
    color: var(--verde);
}

.icon-option{
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 20px;
}
.icon-get-in{
    padding-right: 15px;
}
.icon-user{
    padding: 1px;
    border: solid 3px var(--verde);
    border-radius: 50%;
}





.sample-banner{
    width: 100vw;
    background-color: var(--celeste);
}



/*BODY*/








/*-------- MOVIL-HORIZONTAL (481)-------*/
@media (min-width: 481px) {
    .subheader{
        padding: 15px 35px 15px 45px;
        height: 60px;
    }
    .logo{
        width: 13vw;
    
        position: absolute;
        left: 45vw;
        top:-15%;
    }


}




/*--------BREAKPOINT TABLET (770)-------*/
@media (min-width: 770px) {
    header{
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    .subheader{
        padding: 20px 35px;
        height: 80px;
    }
    .main-navbar{
        display: flex;
    }
    .navbar{
        display: flex;
    }
    .hamburguer-bottom{
        display:none;
    }
    .logo{
        width: 110px;
    
        position: absolute;
        left: 45%;
        top:-30%;
        box-shadow: 4px 18px 31px -12px rgba(86,148,148,1);
    }
    .right-navbar{
        display: flex;
        width: 30%;
        justify-content: flex-end;
    }
    .subheader-li{
        padding: 5px 8px;
    }
    .icon-get-in{
        display: none;
        margin-right: 10px;
    }
    .get-in{
        display: block;
    }
}



/*--------BREAKPOINT PC (1200)-------*/
@media (min-width: 1200px) {
    .subheader ul{
        padding: 0;
    }
    .subheader-li{
        margin-right: 12px;
    }
    .navbar-option{
        font-size: 17px;
    }

}