@import url(normalize.css);

:root {
    --gris: #DDE4E4;
    --amarillo: #FFB100;
    --verde: #064C3F;
    --celeste: #CADEDE;
    --sombra: #569494;
}

* {
    box-sizing: border-box;
    margin: 0 px;
    padding: 0 px;
}

h3 {
    font-family: Noto Sans;
    background-color: white;
    color: var(--verde);
    border: solid 2.5px var(--verde);
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 10px;
}

h2 {
    font-family: Noto Sans;
    color: var(--verde);
    border-bottom: solid 2.5px var(--verde);
    font-size: 18px;
    font-weight: bold;
    padding: 6px 10px;
    margin: 5px;
}

h2.text-about-us {
    font-family: Noto Sans;
    color: white;
    border-bottom: solid 2.5px var(--verde);
    font-size: 18px;
    font-weight: bold;
    padding: 6px 10px;
    margin: 5px;
}

h4 {
    font-family: Noto Sans;
    color: var(--verde);
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
}

h5 {
    font-family: Noto Sans;
    color: var(--verde);
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px var(--verde);
    margin: 10px;
    padding: 5px;
}

p {
    font-family: Noto Sans;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
}


/*HEADER*/
header {
    background-color: var(--celeste);
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    padding: 10px 18px 10px 20px;
    height: 50px;
    position: relative;
    background-color: white;

    border-top-left-radius: 10px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 18px 31px -12px rgba(86, 148, 148, 1);
}

.hamburger-bottom {
    color: var(--verde);
    text-align: left;
    padding: 2px;
    border-radius: 8%;
    font-size: 20px;

}

.main-navbar {
    display: none;
    width: 40%;
}

.navbar {
    width: 100%;
    display: none;
}

.logo {
    border-radius: 50%;
    width: 17vw;

    position: absolute;
    left: 43vw;
    top: -10%;
    box-shadow: 4px 18px 31px -12px rgba(86, 148, 148, 1);
}

.right-navbar {
    display: flex;
    justify-content: flex-end;
}


.subheader ul {
    list-style: none;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.subheader-li {
    border-radius: 25px;
    padding: 5px 5px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.navbar-option {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 14px;
}

.get-in {
    display: none;
    color: var(--verde);
}

.icon-option {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 20px;
}

.icon-get-in {
    padding-right: 15px;
}

.icon-user {
    padding: 1px;
    border: solid 3px var(--verde);
    border-radius: 50%;
}

.carrito {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
    font-size: 20px;
    padding-right: 10px;
}

.canasta {
    text-decoration: none;
    color: var(--verde);
    padding: 3px 0;
}

.sample-banner {
    width: 100vw;
    background-color: var(--celeste);
}


/*MAIN*/
body {
    background-color: var(--gris);
}

.section-tittle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* - - - Categorías - - - */
.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 10px;
}

.category-block {
    width: 40vw;
    text-align: center;
    margin: 15px 0px;
}

.category-img {
    width: 100%;
    height: 40vw;
    background-color: var(--amarillo);
    border: solid 2px var(--verde);
    border-radius: 50%;
}

.category-tittle {
    text-decoration: none;
    color: var(--verde);
    font-size: 20px;
    font-weight: bold;

}

/* - - - Ofertas - - - */

.section-article-sale {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(6, 76, 63, 0.61);
  box-shadow: inset 0px 0px 48px 16px var(--verde);

}
.article-img-sale {
    width: 23%;
    height: 315px;
    padding: 5px;
    background-color: white;
    margin: 50px;
    border-radius: 10px;
}
.article-img-sale img {
/* .img-product-sale { */
    margin: 1px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 3px 3px 22px; 
}
.box-description-sale {
    border-top: 1px solid #ebebeb;
    padding: 28px 0px 24px 0px;
    position: relative;
}
.price-and-discounts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.discounts-product-sale {
    font-size: 16px;
    width: 50%;
    font-family: Noto Sans;
    color: green;
    text-align: center;
    font-weight: bolder;
    border: none;
    padding: none;
    border-bottom: none;
    padding: 6px 10px 0px 64px;
    margin: 6px 0px 0px -14px;
    background-color: transparent;
    border-radius: none;

}
.price-product-sale {
    font-size: 18px;
    width: 50%;
    font-family: Noto Sans;
    color: var(--verde);
    /* text-align: center; */
    font-weight: bolder;
    border-bottom: none;
}


/* - - - Nosotros - - - */
.container-about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    margin: 20px 25px;
    background-color: var(--verde);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.team-img {
    width: 80vw;
    border-radius: 15px;
    ;
}

.about-us {
    width: 85vw;
    color: white;
    text-align: center;
    font-size: 18px;
}

.text-about-us {
    font-family: Novo Sans;
    font-size: 20px;
}

/* - - - Reviews - - - */
.review-section {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-fix-height {
    width: 95vw;
    height: 100vw;
    padding: 25px;
}

.review-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px;
    position: relative;
}

.review-img {
    width: 90vw;
    height: 70vw;
    border-radius: 15px;
    box-shadow: 7px 23px 29px 0px rgb(100, 100, 100);

}

.text-review {
    width: 60%;
    padding: 5%;
    background-color: white;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 6px;
    text-align: center;
    font-size: 15px;

    position: absolute;
    left: 20%;
    bottom: -60px;
}




/*FOOTER*/
footer {
    background-color: var(--amarillo);
    color: black;
    padding: 15px;
}

footer ul {
    list-style: none;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
}

footer li {
    padding: 6px;
}

.footer-option {
    text-decoration: none;
    color: black;
    padding: 3px 0px;
    font-size: 15px;
}

.footer-section-title {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}

.container-footer-menu {
    padding: 10px;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
}

.container-RRSS {
    text-align: center;
}

.RRSS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-contact {
    text-align: center;
}

.contact {
    text-align: center;
}

.container-download-app {
    text-align: center;
}

.download-app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-right-reserve {
    padding-top: 10px;
    border-top: solid 1px var(--verde);
    text-align: center;
}

/*-------- CARRITO COMPRAS -------*/

ul.productos-carrito {
    padding: 5px;
    margin: 5px;
}

.imagen {
    margin-left: 15px;
    font-size: 40px;
}

.producto {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li.producto {
    border: solid 1.5px var (--verde);
}

.precio-carrito {
    font-size: 50px;
    font-weight: bolder;
}

div.resumen-compra {
    border: solid 1.75px;
    border-color: var(--verde);
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

h5.compra {
    font-size: 18px;
    font-weight: bold;
}

p.envio {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.subtotal {
    font-family: Noto Sans;
    color: var(--verde);
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid 1px var(--verde);
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

div .subtotal h4 {
    margin: 0;
    padding: 5px;
}

.eleccion-envio {
    font-family: Noto Sans;
    font-size: 14px;
    margin: 3px 25px;
}

div {
    padding: 5px;
}

.codigo-postal {
    border-radius: 5px;
    border: solid 1.5px var(--verde);
    background-color: whitesmoke;
    padding: 10px;
    width: 20%;
    margin-left: auto;
}

.calculo-envio {
    display: flex;
    align-items: center;
}

.total {
    font-family: Noto Sans;
    color: var(--verde);
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 1.75px var(--verde);
    border-top: solid 1.75px var(--verde);
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

button.pagar {
    background-color: var(--verde);
    border-radius: 5px;
    border: solid 1px var(--verde);
    color: white;
    font-size: 14px;
    padding: 5px;
}

/*-------- MOVIL-HORIZONTAL (481)-------*/
@media (min-width: 481px) {
    h3 {
        font-size: 20px;
    }

    .subheader {
        padding: 15px 35px 15px 45px;
        height: 60px;
    }

    .logo {
        width: 13vw;

        position: absolute;
        left: 45vw;
        top: -15%;
    }

    /*--Categorías--*/
    .category-block {
        width: 25vw;
        text-align: center;
    }

    .category-img {
        height: 25vw;
    }

    .review-img {
        width: 85vw;
        height: 50vw;
    }

}




/*--------BREAKPOINT TABLET (770)-------*/
@media (min-width: 770px) {
    h3 {
        font-size: 22px;
    }

    header {
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .subheader {
        padding: 20px 25px;
        height: 80px;
    }

    .main-navbar {
        display: flex;
    }

    .navbar {
        display: flex;
    }

    .hamburger-bottom {
        display: none;
    }

    .logo {
        width: 110px;

        position: absolute;
        left: 45%;
        top: -30%;
        box-shadow: 4px 18px 31px -12px rgba(86, 148, 148, 1);
    }

    .right-navbar {
        display: flex;
        width: 30%;
        justify-content: flex-end;
    }

    .icon-get-in {
        display: none;
        margin-right: 10px;
    }

    .get-in {
        display: block;
    }

    /* - - Categorías - - */
    .category-block {
        width: 14vw;
        text-align: center;
    }

    .category-img {
        height: 14vw;
    }

    /* - - Nosotros - - */
    .container-about-us {
        justify-content: space-around;
        align-items: center;
    }

    .team-img {
        width: 43vw;
    }

    .about-us {
        width: 37vw;
    }

    /* - - Reviews - - */
    .container-fix-height {
        width: 45vw;
    }

    .review-img {
        width: 40vw;
        height: 30vw;
    }

    .text-review {
        width: 30vw;
        font-size: 18px;
        left: 4vw;
        bottom: -60px;
    }



    /*footer*/
    .container-sections-footer {
        display: flex;
        justify-content: space-around;
    }

    .container-RRSS {
        width: 30%;
        flex-wrap: nowrap;
    }

    .container-contact {
        width: 40%;
    }

    .container-download-app {
        width: 30%;
    }

    .footer-option {
        font-size: 15px;
    }

    .footer-section-title {
        font-size: 18px;
    }

}



/*--------BREAKPOINT PC (1200)-------*/
@media (min-width: 1200px) {
    .subheader ul {
        padding: 0;
    }

    .subheader-li {
        margin-right: 12px;
    }

    .navbar-option {
        font-size: 17px;
    }

}