<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
    <%- include('partials/head', {title: 'Carrito'}) %>

<body>
<!-- Include Header y banner-->
    <%- include('partials/header') %>

    <div class="container">
        <h2>Carrito de Compra <i class="fas fa-shopping-basket canasta"></i></i></i></h2>
        <ul type="none" class="productos-carrito">
            <li class="producto-carrito">
                <i class="far fa-image imagen"></i>
                <div>
                    <h4>Producto 1 </h4>
                    <p>Descripción del producto</p>
                </div>
                <div class="precio-carrito">
                    <p>$1.000.-</p>
                </div>
            </li>
            <li class="producto-carrito">
                <i class="far fa-image imagen"></i>
                <div>
                    <h4>Producto 2 </h4>
                    <p>Descripción del producto</p>
                </div>
                <div class="precio-carrito">
                    <p>$1.000.-</p>
                </div>
            </li>
            <li class="producto-carrito">
                <i class="far fa-image imagen"></i>
                <div>
                    <h4>Producto 3 </h4>
                    <p>Descripción del producto</p>
                </div>
                <div class="precio-carrito">
                    <p>$1.000.-</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="resumen-compra">
        <h5 class="compra">COMPRA</h5>
        <div class="subtotal">
            <h4>SUBTOTAL</h4>
            <p>$3.000.-</p>
        </div>
        <div>
            <h4>ENVÍO</h4>
            <div class="eleccion-envio">
                <div>
                    <input type="radio" name="envio" id="retiro-local" placeholder="retiro-local">
                    <label for="retiro-local">Retiro en local</label>
                </div>
                <div>
                    <input type="radio" name="envio" id="envio-sucursal" placeholder="envio-sucursal">
                    <label for="envio-sucursal">Envío a sucursal</label>
                </div>
                <div>
                    <input type="radio" name="envio" id="envio-domicilio" placeholder="envio-domicilio">
                    <label for="envio-domicilio">Envío a domicilio</label>
                </div>
            </div>
                <div class="calculo-envio">
                    <div class="codigo-postal">
                    </div>
                    <p>Calcular el envío</p>
                </div>
            <div>
                <div class="total">
                    <h4>TOTAL</h4>
                    <p>$3.000.-</p>
                    <button type="button" class="pagar">Ir a Pagar</button>
                </div>
            </div>
        </div>
    </div>

 <!-- Include Footer-->
 <%- include('partials/footer') %>

</body>
</html>