<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>

        <div class="register-container"> 
            <div class="form-title-container">
                <h3 class="tittleRegister">  Contactate con The Pet's Club  </h3>
                <div class="container-sections-footer">
        <div class="container-RRSS">
            <p class="footer-section-title">Seguinos en redes sociales</p>
            <ul class="RRSS">
                <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-instagram"></i> |thepet'sclub|</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-facebook"></i> Thepet'sclub</a></li> 
            </ul>
            </div>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>