<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Contacto'}) %>

<body>
<!-- Include Header y banner-->
<%- include('partials/header') %>

<body class="body-contacto">

    <div class="register-container register-container-contacto"> 
        <div class="form-title-container">
            <h3 class="tittleRegister">  Contactate con The Pet's Club  </h3>
            <div class="container-sections-footer container-sections-footer-contacto"></div>
        </div>
        <div class="contact-contacto">

        <div class="container-RRSS container-RRSS-contacto ">
            <p class="footer-section-title">Seguinos en redes sociales</p>
            <ul class="RRSS RRSS-contacto" type="none">
                <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-instagram"></i> |thepet'sclub| </a></li>
                <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-facebook"></i> The pet'sclub</a></li> 
            </ul>
        </div>
        
        <div class="container-contact container-contact-contacto ">
            <p class="footer-section-title">Contactanos</p>
            <ul class="contact contact-contacto" type="none">
                <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-whatsapp"></i> +54 637292801</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-envelope-open"></i> thepetsclub@gmail.com</a></li> 
            </ul>
        </div>

        </div>
        
    </div>

    <footer class="footer-contacto">

        <div class="all-right-reserve">
            <img href="/" src="/img/dog-face.png" alt="the pet's club" class="dog-face dog-face-contacto">
                <div class="" >
                    <h4>Copyright &#169 2023 - Todos los derechos reservados</h4>
                </div>
        </div>       
            
    </footer>
    
</body>

</html>