<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create producto</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/productos.css">

    <!--Links de Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;300&family=Noto+Sans:wght@200&family=Roboto&display=swap"
        rel="stylesheet">

    <!-- Link de iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/b177d2389e.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>

        <!-- Barra de navegación -->

        <div class="subheader">
            <a href="#" class="hamburger-bottom">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul class="navbar">
                    <li class="subheader-li"><a href="#" class="navbar-option">Tienda<i
                                class="fas fa-caret-down"></i></a></li>
                    <li class="subheader-li"><a href="#" class="navbar-option">Servicios<i
                                class="fas fa-caret-down"></i></a></li>
                    <li class="subheader-li"><a href="#" class="navbar-option">Sobre Nosotros<i
                                class="fas fa-caret-down"></i></a></li>
                </ul>
            </nav>
            <img href="/" src="/img/logo.png" alt="the pet's club" class="logo">

            <ul class="right-navbar">
                <li>
                    <a href="/carrito-compras" class="navbar-option"><i class="fas fa-shopping-cart carrito"></i></a>
                </li>
                <li class="subheader-li get-in">
                    <a href="/user-register" class="navbar-option">Ingresar <i class="fas fa-id-card"></i></a>
                </li>
                <li class="icon-get-in">
                    <a href="/user-register" class="icon-option"><i class="fas fa-id-card"></i></a>
                </li>
                <li>
                    <a href="#" class="icon-user icon-option"> <i class="fas fa-user-large"></i></a>
                </li>
            </ul>
        </div>
    </header>

    <body>
        <div>
            <div class="producto">
                <img href="/" src="/img/category-dog.png" alt="the pet's club-dog" class="category-img">
                <div class="info-producto">
                    <h2>Titulo del producto</h2>
                    <h3>$999</h3>
                    <div>
                        <h4>Descripcion:</h4>
                        <p>------------------------------------------------------------------------------------
                            -----------------------------------------------------------------------------------
                            ------------------------------------------------------------------------------------
                            -----------------------------------------------------------------------------------
                            ------------------------------------------------------------------------------------
                        </p>

                        <ul class="navbar">
                            <li class="subheader-li botones-compra"><a href="#" class="navbar-option">Comprar Ahora</a>
                            </li>
                            <li class="subheader-li botones-compra"><a href="#" class="navbar-option">Agregar Al
                                    Carrito</a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </body>
    <!--FOOTER-->
    <footer>
        <div class="containerfooter-menu">
            <ul class="footer-menu">
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Tienda</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Categorías</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Servicios</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Sobre nosotros</a>
                </li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Ingresar</a></li>
            </ul>
        </div>

        <div class="container-sections-footer">
            <div class="container-RRSS">
                <p class="footer-section-title">Seguinos en redes sociales</p>
                <ul class="RRSS">
                    <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-instagram"></i>
                            |thepet'sclub|</a></li>
                    <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-facebook"></i>
                            Thepet'sclub</a></li>
                </ul>
            </div>
            <div class="container-contact">
                <p class="footer-section-title">Contactanos</p>
                <ul class="contact">
                    <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-whatsapp"></i> +54
                            637292801</a></li>
                    <li class=""><a href="#" class="footer-option"><i class="fas fa-envelope-open"></i>
                            thepetsclub@gmail.com</a></li>
                </ul>
            </div>
            <div class="container-download-app">
                <p class="footer-section-title">Descarga la app</p>
                <ul class="download-app">
                    <li class=""><a href="#" class="footer-option"> App01</a></li>
                    <li class=""><a href="#" class="footer-option"> App02</a></li>
                </ul>
            </div>
        </div>
        <div class="all-right-reserve">
            <img href="/" src="/img/dog-face.png" alt="the pet's club" class="dog-face">
            <h4>Copyright &#169 2022 - Todos los derechos reservados</h4>
        </div>
    </footer>
    <!--<div class="container">
        <h1>Productos</h1>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/registro">Registro</a></li>
            <li><a href="/carrito-compras">Carrito</a></li>
        </ul>
    </div>-->
</body>

</html>
