<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Pet's Club</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/b177d2389e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Este bloque lo creó Lu al hacer la estructura de carpetas-->
    <!--
    <div class="container">
        <h1>Home</h1>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/registro">Registro</a></li>
            <li><a href="/carrito-compras">Carrito</a></li>
        </ul>
    </div> 
    -->


    <!--HEADER-->
    <header>
        <div class="subheader">
            <a href="#" class="hamburguer-bottom">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul class="navbar">
                    <li class="subheader-li"><a href="#" class="navbar-option">Tienda <i class="fas fa-caret-down"></i></a></li>
                    <li class="subheader-li"><a href="#" class="navbar-option">Servicios <i class="fas fa-caret-down"></i></a></li>
                    <li class="subheader-li"><a href="#" class="navbar-option">Sobre Nosotros <i class="fas fa-caret-down"></i></a></li>
                </ul>
            </nav>
            <img href="/" src="/img/logo.png" alt="the pet's club" class="logo">

            <ul class="right-navbar">
                <li class="subheader-li get-in">
                    <a href="/user-register" class="navbar-option">Ingresar <i class="fas fa-id-card"></i></a>
                </li>
                <li class="icon-get-in">
                    <a href="/user-register"  class="icon-option"><i class="fas fa-id-card" ></i></a>
                </li>
                <li>
                    <a href="#" class="icon-user icon-option"> <i class="fas fa-user-large"></i></a>
                </li>
            </ul>
        </div>
    </header>



    
    <!--BANNER-->
    <!--Si decidimos porner el banner como imagen-->
    <img href="/" src="/img/sample-banner.png" alt="sample-banner" class="sample-banner">
    <!--Si decidimos hacer el banner pieza por pieza por pieza-->
    <!--
    <div class="main-img">
        <p class="">THE PETS'S CLUB</p>
        <img href="/" src="/img/banner-.png" alt="cats" class="img-cat">
        <img href="/" src="/img/banner-.png" alt="dog" class="img-dog">
        <img href="/" src="/img/banner-.png" alt="bird" class="img-bird">
        <img href="/" src="/img/banner-.png" alt="hamster" class="img-hamster">
        <img href="/" src="/img/banner-.png" alt="fish" class="img-fish">
    </div>
    -->



    <!--BODY-->
    <body>
    <!--categorias-->

    <!--ofertas-->

    <!--productos-->

    <!--servicios-->

    <!--blog-->

    <!--experiencias-->

    </body>

    <!--FOOTER-->
    <footer>

    </footer>

</body>
</html>