<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Pet's Club</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">  

    <!--Links de Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;300&family=Noto+Sans:wght@200&family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Link de iconos-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://kit.fontawesome.com/b177d2389e.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>

<!-- Barra de navegación --> 

        <div class="subheader">
            <a href="#" class="hambrguer-bottom">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul class="navbar">
                    <li class="subheader-li"><a href="#" class="navbar-option">Tienda<i class="fas fa-caret-down"></i></a></li>
                    <li class="subheader-li"><a href="#" class="navbar-option">Servicios<i class="fas fa-caret-down"></i></a></li>
                    <li class="subheader-li"><a href="#" class="navbar-option">Sobre Nosotros<i class="fas fa-caret-down"></i></a></li>
                </ul>
            </nav>
            <img href="/" src="/img/logo.png" alt="the pet's club" class="logo">

            <ul class="right-navbar">
                <li>
                    <a href="/carrito-compras" class="navbar-option"><i class="fas fa-shopping-cart carrito"></i></a>
                </li>
                <li class="subheader-li get-in">
                    <a href="/user-register" class="navbar-option">Ingresar <i class="fas fa-id-card"></i></a>
                </li>
                <li class="icon-get-in">
                    <a href="/user-register"  class="icon-option"><i class="fas fa-id-card" ></i></a>
                </li>
                <li>
                    <a href="#" class="icon-user icon-option"> <i class="fas fa-user-large"></i></a>
                </li>
            </ul>
        </div>
    </header>

    <!--BANNER-->

    <img href="/" src="/img/sample-banner.png" alt="sample-banner" class="sample-banner">

    <!--Categorías-->

    <div id="category-section" class="category-section">
        <div class="section-tittle"><h3>Categorías</h3></div>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-dog" class="category-img">
            <a href="#" class="category-tittle">Perros</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-cat" class="category-img">
            <a href="#" class="category-tittle">Gatos</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-bird" class="category-img">
            <a href="#" class="category-tittle">Aves</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-fish" class="category-img">
            <a href="#" class="category-tittle">Peces</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-mammals" class="category-img">
            <a href="#" class="category-tittle">Mamíferos</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-reptiles" class="category-img">
            <a href="#" class="category-tittle">Reptiles</a>
        </article>
    </div>

    <!-- Ofertas-->

    <!-- Productos-->

    <!-- Servicios-->

    <!-- Nosotros-->
    <div class="container-about-us">
        <img href="/" src="/img/team.png" alt="the pet's club-team" class="team-img">
        <div class="about-us">
            <p class="text-about-us">
                <h2 class="text-about-us">NOSOTROS</h2>
                ¿Necesitas encontrar un veterinario de guardia? ¿Querés cortarle el pelo a tu mascota? 
                ¿Te falta algún elemento esencial? ¿Necesitás encontrar a alguien que cuide de tu mascota o lo saque a pasear en algún momento del día? En The Pet's Club te ofrecemos no solo productos para tu mejor amigo, sino que también te ayudamos a encontrar el servicio que mejor se adapte a lo que. No importa si tenes un perro, un hamster, un gato, un conejo o una lagartija, contamos con un extenso catálogo de diseño simple y dinámico para poder ayudarte con lo que precises. Nuestro foco está en la calidad porque queremos cuidar de tu compañero.
            </p>
        </div>
    </div>

    <!-- Experiencias-->
    <div id="review-section" class="review-section">
        <div class="section-tittle"><h3>EXPERIENCIAS</h3></div>
        <div class="container-fix-height">
            <article class="review-block">
                <img href="/" src="/img/experience-01.jfif" alt="the pet's club-team" class="review-img">
                <p class="text-review">
                    Es simplemente el texto de relleno de las imprentas y archivos de texto.
                </p>
            </article>
        </div>
        <div class="container-fix-height">
            <article class="review-block">
                <img href="/" src="/img/experience-02.jfif" alt="the pet's club-team" class="review-img">
                <p class="text-review">
                    Es simplemente el texto de relleno de las imprentas y archivos de texto.
                </p>
            </article>
        </div>
    </div>

    </body>

    <!--FOOTER-->
    <footer>
        <div class="containerfooter-menu">
            <ul class="footer-menu">
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Tienda</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Categorías</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Servicios</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Sobre nosotros</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Ingresar</a></li>
            </ul>
        </div>

        <div class="container-sections-footer">
            <div class="container-RRSS">
                <p class="footer-section-title">Seguinos en redes sociales</p>
                <ul class="RRSS">
                    <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-instagram"></i> |thepet'sclub|</a></li>
                    <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-facebook"></i> Thepet'sclub</a></li> 
                </ul>
            </div>
            <div class="container-contact">
                <p class="footer-section-title">Contactanos</p>
                <ul class="contact">
                    <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-whatsapp"></i> +54 637292801</a></li>
                    <li class=""><a href="#" class="footer-option"><i class="fas fa-envelope-open"></i> thepetsclub@gmail.com</a></li> 
                </ul>
            </div>
            <div class="container-download-app">
                <p class="footer-section-title">Descarga la app</p>
                <ul class="download-app">
                    <li class=""><a href="#" class="footer-option"> App01</a></li>
                    <li class=""><a href="#" class="footer-option"> App02</a></li> 
                </ul>
            </div>
        </div>
        <div class="all-right-reserve" >
            <img href="/" src="/img/dog-face.png" alt="the pet's club" class="dog-face">
            <p>2022 todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>