<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Pet's Club</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/b177d2389e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Este bloque lo creó Lu al hacer la estructura de carpetas-->
    <!--
    <div class="container">
        <h1>Home</h1>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/registro">Registro</a></li>
            <li><a href="/carrito-compras">Carrito</a></li>
        </ul>
    </div> 
    -->


    <!--HEADER-->
    <header>
        <div class="subheader">
            <a href="#" class="hamburguer-bottom">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul class="navbar">
                    <li class="subheader-li"><a href="#" class="navbar-option">Tienda<i class="fas fa-caret-down"></i></a></li>
                    <li class="subheader-li"><a href="#" class="navbar-option">Servicios<i class="fas fa-caret-down"></i></a></li>
                    <li class="subheader-li"><a href="#" class="navbar-option">Sobre Nosotros<i class="fas fa-caret-down"></i></a></li>
                </ul>
            </nav>
            <img href="/" src="/img/logo.png" alt="the pet's club" class="logo">

            <ul class="right-navbar">
                <li class="subheader-li get-in">
                    <a href="/user-register" class="navbar-option">Ingresar <i class="fas fa-id-card"></i></a>
                </li>
                <li class="icon-get-in">
                    <a href="/user-register"  class="icon-option"><i class="fas fa-id-card" ></i></a>
                </li>
                <li>
                    <a href="#" class="icon-user icon-option"> <i class="fas fa-user-large"></i></a>
                </li>
            </ul>
        </div>
    </header>



    
    <!--BANNER-->
    <!--Si decidimos porner el banner como imagen-->
    <img href="/" src="/img/sample-banner.png" alt="sample-banner" class="sample-banner">
    <!--Si decidimos hacer el banner pieza por pieza por pieza-->
    <!--
    <div class="main-img">
        <p class="">THE PETS'S CLUB</p>
        <img href="/" src="/img/banner-.png" alt="cats" class="img-cat">
        <img href="/" src="/img/banner-.png" alt="dog" class="img-dog">
        <img href="/" src="/img/banner-.png" alt="bird" class="img-bird">
        <img href="/" src="/img/banner-.png" alt="hamster" class="img-hamster">
        <img href="/" src="/img/banner-.png" alt="fish" class="img-fish">
    </div>
    -->



    <!--BODY-->
    <body>
    <!--categorias-->
    <div id="category-section" class="category-section">
        <div class="section-tittle"><h3>Categorías</h3></div>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-dog" class="category-img">
            <a href="#" class="category-tittle">Perros</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-cat" class="category-img">
            <a href="#" class="category-tittle">Gatos</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-bird" class="category-img">
            <a href="#" class="category-tittle">Aves</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-fish" class="category-img">
            <a href="#" class="category-tittle">Peces</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-mammals" class="category-img">
            <a href="#" class="category-tittle">Mamiferos</a>
        </article>
        <article class="category-block">
            <img href="/" src="/img/category-dog.png" alt="the pet's club-reptiles" class="category-img">
            <a href="#" class="category-tittle">Reptiles</a>
        </article>
    </div>

    <!--ofertas-->

    <!--productos-->

    <!--servicios-->

    <!--blog- Nosotros-->
    <div class="container-about-us">
        <img href="/" src="/img/team.png" alt="the pet's club-team" class="team-img">
        <div class="about-us">
            <p class="tittle-about-us">NOSOTROS</p>
            <p class="text-about-us">
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando
            </p>
           
        </div>
    </div>

    <!--experiencias-->
    <div id="review-section" class="review-section">
        <div class="section-tittle"><h3>EXPERIENCIAS</h3></div>
        <div class="container-fix-height">
            <article class="review-block">
                <img href="/" src="/img/experience-01.jfif" alt="the pet's club-team" class="review-img">
                <p class="text-review">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                </p>
            </article>
        </div>
        <div class="container-fix-height">
            <article class="review-block">
                <img href="/" src="/img/experience-02.jfif" alt="the pet's club-team" class="review-img">
                <p class="text-review">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                </p>
            </article>
        </div>
    </div>

    </body>

    <!--FOOTER-->
    <footer>
        <div class="containerfooter-menu">
            <ul class="footer-menu">
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Tienda</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Categorías</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Servicios</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Sobre nosotros</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i>Ingresar</a></li>
            </ul>
        </div>

        <div class="container-sections-footer">
            <div class="container-RRSS">
                <p class="footer-section-title">Siguenos en redes sociales</p>
                <ul class="RRSS">
                    <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-instagram"></i> |thepet'sclub|</a></li>
                    <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-facebook"></i> Thepet'sclub</a></li> 
                </ul>
            </div>
            <div class="container-contact">
                <p class="footer-section-title">Contactanos</p>
                <ul class="contact">
                    <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-whatsapp"></i> +54 637292801</a></li>
                    <li class=""><a href="#" class="footer-option"><i class="fas fa-envelope-open"></i> thepetsclub@gmail.com</a></li> 
                </ul>
            </div>
            <div class="container-download-app">
                <p class="footer-section-title">Descarga la app</p>
                <ul class="download-app">
                    <li class=""><a href="#" class="footer-option"> App01</a></li>
                    <li class=""><a href="#" class="footer-option"> App02</a></li> 
                </ul>
            </div>
        </div>
        <div class="all-right-reserve" >
            <img href="/" src="/img/dog-face.png" alt="the pet's club" class="dog-face">
            <p>2022 todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>