
<!-- El siguiente codigo funciona para iniciar una nueva vista con el header y el footer incluido
     Toto el contenido deberá quedar dentro del <main></main>-->

<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('partials/header') %>

    <main>

    </main>

    <!-- Include Footer-->
    <%- include('partials/footer') %>
</body>

</html>