<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de Productos'}) %>
<body>
<!-- Include Header y banner-->
<%- include('partials/header') %>

<main>
    <section class="category-section-products">
        <div class="section-tittle"><h3>Listado de Productos</h3></div>
        <section class="section-article-products">
            <article class="article-img-product">
                <img class="img-product-product" src="/img/productslist/pouch-royal-canin-medium-puppy.jpg" alt="img-productslist">
                <article class="box-description-product">
                    <i></i>
                    <article class="price-of-product">
                        <h2 class="price-of-product">$ 450</h2>
                    </article>
                </article>
            </article>
            <article class="article-img-product">
                <img class="img-product-product" src="/img/productslist/purina-mills.jpg" alt="img-productslist">
                <article class="box-description-product">
                    <i></i>
                    <article class="price-of-product">
                        <h2 class="price-of-product">$ 1350</h2>
                    </article>
                </article>
            </article>
            <article class="article-img-product">
                <img class="img-product-product" src="/img/productslist/reptile-sticks.jpg" alt="img-productslist">
                <article class="box-description-product">
                    <i></i>
                    <article class="price-of-product">
                        <h2 class="price-of-product">$ 1890</h2>
                    </article>
                </article>
            </article>
        </section>
    </section>
</main>

<!-- Include Footer-->
<%- include('partials/footer') %>
</body>
</html>