<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('partials/header') %>

    <main>
        <div>
            <div class="producto">
                <img href="/" src="/img/category-dog.png" alt="the pet's club-dog" class="category-img">
                <div class="info-producto">
                    <h2>Titulo del producto</h2>
                    <h3>$999</h3>
                    <div>
                        <h4>Descripcion:</h4>
                        <p>------------------------------------------------------------------------------------
                            -----------------------------------------------------------------------------------
                            ------------------------------------------------------------------------------------
                            -----------------------------------------------------------------------------------
                            ------------------------------------------------------------------------------------
                        </p>

                        <ul class="navbar">
                            <li class="subheader-li botones-compra"><a href="#" class="navbar-option">Comprar Ahora</a>
                            </li>
                            <li class="subheader-li botones-compra"><a href="#" class="navbar-option">Agregar Al
                                    Carrito</a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Include Footer-->
    <%- include('partials/footer') %>
</body>

</html>