<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('partials/header') %>

    <body>
        <div> <!--formulario Crear producto-->
            <div class="section-tittle"><h3>Crear producto</h3></div>
            <form action="/" method="GET" class="form-container">

                <p class="form-field">
                <input type="text" name="name" id="name" placeholder="Nombre del producto" required class="form-input">
                </p>

                <p class="form-field">
                    <input type="text" name="sku" id="sku" placeholder="SKU" required class="form-input">
                </p>
        
                <p class="form-field">
                <label>Descripción</label>
                <textarea name="description" placeholder="Indica las características del prodcuto" required class="form-input"></textarea>
                </p>
        
                <p class="form-field">
                <label for="name">Imagen</label>
                <input type="file" name="main-product-image" id="main-product-image" accept=".jpg" required class="form-input">
                </p>

                <p class="form-field">
                    <label><strong>Categorías</label></strong></label>
                        <input type="checkbox" value="Alimento" id="Alimento"class="form-input-option"> Alimento </input><br>
                        <input type="checkbox" value="Juguetes" id="Juguetes" class="form-input-option"> Juguetes </input><br>
                        <input type="checkbox" value="Habitat" id="Habitat" class="form-input-option"> Habitat </input><br>
                        <input type="checkbox" value="Accesorios" id="Accesorios" class="form-input-option"> Accesorios </input><br>
                        <input type="checkbox" value="Correas-y-collares" id="Correas y collares" class="form-input-option"> Correas y collares </input><br>
                        <input type="checkbox" value="Otro" id="Otro" class="form-input-option"> Otro </input><br>
                </p>

                <p class="form-field">
                    <label><strong>Talla</label></strong></label>
                        <input type="radio" value="Extra-Chica" id="Extra Chica"class="form-input-option"> Extra Chica </input><br>
                        <input type="radio" value="Chica" id="Chica" class="form-input-option"> Chica </input><br>
                        <input type="radio" value="Mediana" id="Mediana" class="form-input-option"> Mediana </input><br>
                        <input type="radio" value="Grande" id="Grande" class="form-input-option"> Grande </input><br>
                        <input type="radio" value="Extra Grande" id="Extra Grande" class="form-input-option"> Extra Grande </input><br>
                        <input type="radio" value="Unica" id="Unica" class="form-input-option"> Única </input><br>
                </p>
        
                <p class="form-field">
                <label><strong>Color</label></strong></label>
                <input type="color" name="color" id="color" placeholder="Color" required class="form-box-color">
                </p>

                <p class="form-field">
                    <input type="number" name="price" id="price" placeholder="Precio" min="0"required class="form-input">
                </p>

                <p class="form-field">
                    <input type="number" name="price-offer" id="price-offer" placeholder="Precio de oferta" min="0" required class="form-input">
                </p>
        
                <p class="form-field">
                <label><strong>En oferta:</strong></label>
                    <input type="radio" name="oferta" value="si" class="form-input-option"> Si </input><br>
                    <input type="radio" name="oferta" value="no" class="form-input-option"> No </input>
                </p>

                <p class="form-field">
                    <input type="number" name="pieces" id="pieces" placeholder="Piezas disponibles" min="0" required class="form-input">
                </p>
                
                <!--boton de formulario -->
                <p class="form-buttons-container">
                <button type="reset" class="form-button">Limpiar formulario</button>
                <a href="/"><button type="submit" class="form-button"> Crear producto </button></a>
                </p>

            </form>
        </div>
        


    </body>

    <!-- Include Footer-->
    <%- include('partials/footer') %>
    
</body>

</html>
