<footer>
    <div class="containerfooter-menu">
        <ul class="footer-menu">
            <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i> Tienda</a></li>
            <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i> Categorías</a></li>
            <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i> Servicios</a></li>
            <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i> Sobre nosotros</a></li>
            <li class=""><a href="#" class="footer-option"><i class="fas fa-chevron-right"></i> Ingresar</a></li>
        </ul>
    </div>

    <div class="container-sections-footer">
        <div class="container-RRSS">
            <p class="footer-section-title">Seguinos en redes sociales</p>
            <ul class="RRSS">
                <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-instagram"></i> |thepet'sclub|</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-facebook"></i> Thepet'sclub</a></li> 
            </ul>
        </div>
        <div class="container-contact">
            <p class="footer-section-title">Contactanos</p>
            <ul class="contact">
                <li class=""><a href="#" class="footer-option"><i class="fa-brands fa-whatsapp"></i> +54 637292801</a></li>
                <li class=""><a href="#" class="footer-option"><i class="fas fa-envelope-open"></i> thepetsclub@gmail.com</a></li> 
            </ul>
        </div>
        <div class="container-download-app">
            <p class="footer-section-title">Descarga la app</p>
            <ul class="download-app">
                <li class=""><a href="#" class="footer-option"> App01</a></li>
                <li class=""><a href="#" class="footer-option"> App02</a></li> 
            </ul>
        </div>
    </div>
    <div class="all-right-reserve">
        <img href="/" src="/img/dog-face.png" alt="the pet's club" class="dog-face">

        <div class="" >
            <h4>Copyright &#169 2023 - Todos los derechos reservados</h4>
        </div>
</div>

</footer>

<!-- Include mainMenu - VERO -->
<script src="/js/mainMenu.js"></script>