<header>
    <!-- Barra de navegación --> 
            <div class="subheader">
                <a href="#" class="hamburger-bottom">
                    <i class="fas fa-bars"></i>
                </a>
                <nav class="main-navbar">
                    <ul class="navbar">
                        <li class="subheader-li"><a href="#" class="navbar-option">Tienda<i class="fas fa-caret-down"></i></a></li>
                        <li class="subheader-li"><a href="#" class="navbar-option">Servicios<i class="fas fa-caret-down"></i></a></li>
                        <li class="subheader-li"><a href="#" class="navbar-option">Sobre Nosotros<i class="fas fa-caret-down"></i></a></li>
                    </ul>
                </nav>
                <a href="/"><img href="/" src="/img/logo.png" alt="the pet's club" class="logo"></a>

                <ul class="right-navbar">
                    <li>
                        <a href="/products/carrito-compras" class="navbar-option">
                            <i class="fas fa-shopping-cart carrito"></i>
                        </a>
                    </li>
                    <li class="subheader-li get-in"> <!-- Opcion de crear cuenta desde desktop-->
                        <a href="/users/register" class="navbar-option">Crear una cuenta <i class="fas fa-id-card"></i></a>
                    </li>
                    <li class="icon-get-in"> <!-- Opcion de crear cuenta desde movil-->
                        <a href="/users/register"  class="icon-option"><i class="fas fa-id-card" ></i></a>
                    </li>
                    <li>
                        <a href="#" class="icon-user icon-option"> <i class="fas fa-user-large"></i></a>
                    </li>
                </ul>
    </div>
</header>
    
    