<header>
    <!-- Barra de navegación --> 



    <nav class="main-navbar">
             
        <ul class="left-navbar">
            <div class="hamburger-menu">
                <i class="fas fa-bars hamburger-button"></i>
            </div>
        <div class = "subheader-left">
            <i class="fas fa-times cross"></i>
            <li class="subheader-li">
                <a href="#" class="navbar-option">Tienda <i class="fas fa-caret-right"></i></a>
                    <ul class="dropdown">
                        <li class="nav-link">
                            <a href="products" class="nav-link">Productos</a>
                        </li>
                        <li class="nav-link">
                            <a href="products/create" class="nav-link">Crear productos</a>
                        </li>
                    </ul>
            </li>
                     
         
            <li class="subheader-li">
                <a href="/#section-servicios" class="navbar-option">Servicios <i class="fas fa-caret-right"></i></i></a>
                    <ul class="dropdown">
                        <li class="nav-link">
                            <a href="#" id="Section-servicios" class="nav-link">Guardería</a>
                        </li>
                        <li class="nav-link">
                            <a href="#" class="nav-link">Paseador</a>
                        </li>
                        <li class="nav-link">
                            <a href="#" class="nav-link">Veterinario</a>
                        </li>
                    </ul>
            </li>

            <li class="subheader-li">
                <a href="/#section-blog" class="navbar-option">Sobre Nosotros</a>
            </li>
        </div>
        </ul>

        <ul class="media-navbar">
        <a href="/"><img href="/" src="/img/logo.png" alt="the pet's club" class="logo"></a>
        </ul>

        <ul class="right-navbar">
            <li class="subheader-li">
                <a href="/products/carrito-compras" class="navbar-option">
                <i class="fas fa-shopping-cart carrito"></i>
                </a>
            </li>

            <li class="subheader-li get-in"> <!-- Opcion de crear cuenta desde desktop-->
                <a href="/users/register" class="navbar-option login-desktop">Creá tu cuenta<i class="fas fa-id-card cuenta"></i></a>
             </li>

             <li class="icon-get-in"> <!-- Opcion de crear cuenta desde movil-->
                <a href="/users/register"  class="icon-option"><i class="fas fa-id-card" ></i></a>
            </li>
            
            <li class="subheader-li">
                <a href="/users/login/" class="icon-user icon-option"> <i class="fas fa-user-circle login"></i></a>
            </li>
        </ul>
    </nav>

    

</header>



    