<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - The Pet's Club</title>
  
    <!--Links de Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;300&family=Noto+Sans:wght@200&family=Roboto&display=swap" rel="stylesheet">
    <!-- Link de iconos-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://kit.fontawesome.com/b177d2389e.js" crossorigin="anonymous"></script>
    <!-- link Stylesheet -->
        <link href="/css/style.css" rel="stylesheet">

</head>