<!-- El siguiente código funciona para iniciar una nueva vista con el header y el footer incluido
     Toto el contenido deberá quedar dentro del <main></main>-->

     <!DOCTYPE html>
     <html lang="es">
     
     <!-- Include Head -->
     <%- include('head', {title: 'Inicio'}) %>
     
     <body>
         <!-- Include Header y banner-->
         <%- include('header') %>
     
         <main>

            <!--Nuevas Categorías-->
            <div class="section-tittle"><h3>Categorías</h3></div>
            <div id="category-section" class="category-section">
                <% species.forEach(especie => { %>
                    <article class="category-block">
                        <div class="category-img">
                            <img href="/" src="/img/section-category/img-dog-category.png" alt="the pet's club-dog" class="img-dog-category">
                        </div>
                        <a href="#" class="category-tittle"><%= especie.name %></a>
                    </article>
                <% }) %>  
            </div>
            <!--Fin Nuevas Categorías-->



            <!--Categorías-->
            <div class="section-tittle"><h3>Categorías</h3></div>
            <div id="category-section" class="category-section">
                <article class="category-block">
                    <div class="category-img">
                        <img href="/" src="/img/section-category/img-dog-category.png" alt="the pet's club-dog" class="img-dog-category">
                    </div>
                    <a href="#" class="category-tittle">Perros</a>
                </article>
                <article class="category-block">
                    <div class="category-img">
                        <img href="/" src="/img/section-category/img-cat-category.png" alt="the pet's club-cat" class="img-cat-category">
                    </div>
                    <a href="#" class="category-tittle">Gatos</a>
                </article>
                <article class="category-block">
                    <div class="category-img">
                        <img href="/" src="/img/section-category/img-macaw-birds-category.png" alt="the pet's club-bird" class="img-macaw-birds-category">
                    </div>
                    <a href="#" class="category-tittle">Aves</a>
                </article>
                <article class="category-block">
                    <div class="category-img">
                        <img href="/" src="/img/section-category/img-fish-category.png" alt="the pet's club-fish" class="img-fish-category">
                    </div>
                    <a href="#" class="category-tittle">Peces</a>
                </article>
                <article class="category-block">
                    <div class="category-img">
                        <img href="/" src="/img/section-category/img-rabbit-mammals-category.png" alt="the pet's club-mammals" class="img-rabbit-mammals-category">
                    </div>
                    <a href="#" class="category-tittle">Mamíferos</a>
                </article>
                <article class="category-block">
                    <div class="category-img">
                        <img href="/" src="/img/section-category/img-chamaleon-reptile-category.png" alt="the pet's club-reptiles" class="img-chamaleon-reptile-category">
                    </div>
                    <a href="#" class="category-tittle">Reptiles</a>
                </article>
            </div>

     
         </main>
     
         <!-- Include Footer-->
         <%- include('footer') %>
     </body>
     
     </html>


