<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- FORMULARIO LOGIN-->
        <div> 
            <div class="form-title-container"><h3>  Iniciar Sesión  </h3></div>

            <form action="/users/login" method="POST" enctype="multipart/form-data" class="form-container" >

                <p class="form-field">
                <input type="email" name="email" id="email" placeholder="Correo electrónico" required class="form-input">
                </p>

                <p class="form-field">
                <input type="password" name="password" id="password" placeholder="Contraseña" required class="form-input">
                </p>

                <!--Mostrar errores cuando haya-->
                 <% if (error != undefined){ %>
                    <p class="error-message"> <%= error %> </p>
                <% } %>

                <p class="form-buttons-container">
                    <button type="submit" class="form-button"> Ingresar </button>
                    </p>
        
            </form>
            <p class="link-register">¿Aún no te has registrado? <a href="/users/register/" class="register-link"><strong>Crea una cuenta</strong></a></p><br>

        </div>
    </body>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>

