<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- FORMULARIO SIGN UP - REGISTER-->
        <div class="register-container"> 
            <div class="form-title-container"><h3>  Registrate en The Pet's Club  </h3></div>
            <form action="/users/register/" method="POST" enctype="multipart/form-data" class="sing-up-form-container">

                <div>
                    <p class="register-form-field">
                    <input type="text" name="firstName" id="name" placeholder="Nombre" required class="form-input">
                    </p>
                </div>

                
                    <p class="register-form-field">
                        <input type="text" name="lastName" id="name" placeholder="Apellido" required class="form-input">
                    </p>

                <p class="register-form-field">
                    <input type="text" name="name-user" id="name" placeholder="Nombre de usuario" required class="form-input">
                </p>
                <p class="register-form-field">
                <input type="email" name="email" id="email" placeholder="Correo electrónico" required class="form-input">
                </p>
        
                <p class="register-form-field">
                <input type="password" name="password" placeholder="Ingresa una contraseña" required class="form-input">
                </p>

                <p class="register-form-field">
                <input name="passwordConfirmed" placeholder="Confirma la contraseña" required class="form-input">
                </p>

                <p class="register-form-field">
                    <label for="avatarRegister" class="form-label-avatar">Imagen de perfil: <input type="file" id="avatarRegister" name="avatar" required></label> 
                </p>
                
                
                <p class="input-administrator-user">
                        <label class="label-user" for="administrator-user" id="administrator-user">Usuario <input type="radio" name="administrator-user" value="Usuario" checked></label>
                        <label class="label-administrator" for="administrator-user">Administrador <input type="radio" name="administrator-user" value="Administrador"></label>
                    </label> 
                
                </p>
                
                <p class="form-field">
                    Al crear una cuenta en <strong>thepetsclubs.com</strong> acepta los 
                    <a href="/" class="register-link"><strong>Términos y Condiciones</strong></a> y nuestro 
                    <a href="/" class="register-link"><strong>Aviso de Privacidad</strong> </a>
                </p><br>


                <!--Botón de formulario -->
                <p class="register-button-container">
                <a href="/"><button type="Crear cuenta" class="form-button"> Crear cuenta </button></a>
                </p>

            </form>
            <p>¿Ya tienes una cuenta? <a href="/users/login/" class="register-link"><strong>Iniciar Sesión</strong></a></p><br>

        </div>
    </body>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>
