<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- FORMULARIO SIGN UP-->
        <div class="sign-up-container"> 
            <div class="form-title-container"><h3>  Registrate en The Pet's Club  </h3></div>
            <form action="/" method="GET" class="sing-up-form-container">

                <p class="sign-up-form-field">
                <input type="text" name="name" id="name" placeholder="Nombre completo" required class="form-input">
                </p>

                <p class="sign-up-form-field">
                <input type="email" name="mail" id="mail" placeholder="Correo electrónico" required class="form-input">
                </p>
        
                <p class="sign-up-form-field">
                <input name="contraseña" placeholder="Ingresa una contraseña" required class="form-input">
                </p>

                <p class="sign-up-form-field">
                <input name="confirmacion-contraseña" placeholder="Confirma la contraseña" required class="form-input">
                </p>
                
                <p class="form-field">
                    Al crear una cuenta en <strong>thepetsclubs.com</strong> acepta los 
                    <a href="/" class="sign-up-link"><strong>Términos y Condiciones</strong></a> y nuestro 
                    <a href="/" class="sign-up-link"><strong>Aviso de Privacidad</strong> </a>
                </p><br>


                <!--Botón de formulario -->
                <p class="sign-up-button-container">
                <a href="/"><button type="Crear cuenta" class="form-button"> Crear cuenta </button></a>
                </p>

            </form>
            <p>¿Ya tienes una cuenta? <a href="/" class="sign-up-link"><strong>Iniciar Sesión</strong></a></p><br>


        </div>

        


    </body>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>
